html {
    background-color: black;
}

ul {
    margin: 2px 500px 2px 2px;
    padding: 12px 12px 12px 20px;
    border: solid 2px #00ff;
    background-color: aliceblue;
}

h3 {
    margin: 2px 500px 2px 2px;
    padding: 12px 12px 12px 20px;
    border: solid 2px #00ff;
    background-color: aliceblue;
}

h1 {
    margin: 2px 500px 2px 2px;
    padding: 12px 12px 12px 20px;
    border: solid 2px #00ff;
    background-color: aliceblue;
}